{% extends 'baseprofile.html.twig' %}

{% block title %}Your Profile{% endblock %}

{% block profilemainsection %}
    <section class="p-9">
        <div>
            {{ form(form) }}
        </div>

    </section>
{% endblock %}

