{% extends 'baseprofile.html.twig' %}

{% block title %}Change your password{% endblock %}

{% block profilemainsection %}
    <section class="p-9">
        <h2 class="text-center text-2xl my-5">Change Your password</h2>
        <div class="text-center">
            <form method="post">
                <div>
                    <label for="password-current">Current password</label>
                    <input type="password" id="password-current" name="password-current" class="mx-auto appearance-none relative block px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm">
                </div>
                <div>
                    <label for="password-new">New password</label>
                    <input type="password" id="password-new" name="password-new" class="mx-auto appearance-none relative block px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm">
                </div>
                <div>
                    <label for="password-confirm">Confirm password</label>
                    <input type="password" id="password-confirm" name="password-confirm" class="mx-auto appearance-none relative block px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm">
                </div>
                <button class="mx-auto my-5 group relative flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Change password</button>
            </form>
        </div>

    </section>
{% endblock %}

