{%  extends 'base.html.twig' %}

{% block title 'Welcome to Neant.be'%}

{% block prebody %}
    {{ include ('parts/_prebody.html.twig') }}
{% endblock %}

{%  block body %}

    <div class="container mx-auto my-5">
{#        <h1 class="text-2xl text-center mb-6 text-white">Hello World</h1>#}
        <p class="text-center w-4/6 mx-auto">Everything that's created comes out of silence. Your thoughts emerge from the nothingness of silence. Your words come out of this void. Your very essence emerged from emptiness. All creativity requires some stillness.</p>
        <p class="text-right w-4/6 mx-auto"><small>Wayne Dyer</small></p>
    </div>

    <div class="container mx-auto text-3xl">
        <h2 class="text-yellow-500 p-5 bg-blue-900">Last 5 Articles :</h2>
            {% for article in articles %}
                {{ include ('parts/_articlescard.html.twig') }}
            {%  endfor %}
    </div>
{%  endblock %}