{%  extends 'base.html.twig' %}

{%  block body %}
    <div class="container mx-auto">
        <h1 class="text-2xl text-center my-3">Hello World</h1>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolorem dolores eos possimus reiciendis sapiente similique vel voluptatum? A consectetur dolore ea ipsam magnam minus molestiae porro quae velit veniam.</p>
    </div>
{%  endblock %}