{% extends 'base.html.twig' %}

{% block title %}Privacy Policy - Data personal{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper text-sm">
    <h1 class="text-center text-3xl my-6">Privacy Policy - Data personal</h1>
    <div>
        <h2 class="text-2xl mt-8 mb-5">Definitions:</h2>
        <ul class="text-sm mb-6">
            <li>Publisher: The person, natural or legal, who publishes online communication services to the public.</li>
            <li>The Site: All the sites, Internet pages and online services offered by the Publisher.</li>
            <li>The User: The person using the Site and the services.</li>
        </ul>
    </div>
    <div>
        <h2 class="text-2xl mt-8 mb-5">1- Nature of the data collected</h2>
        <p class="font-bold my-3">
            In the context of the use of the Sites, the Publisher may collect the categories of data
            following concerning its Users:
        </p>
        <ul class="text-sm mb-6">
            <li>Civil status, identity, identification data ...</li>
            <li>Connection data (IP addresses, event logs ...)</li>
        </ul>
    </div>
    <div>
        <h2 class="text-2xl mt-8 mb-5">2- Communication of personal data to third parties</h2>
        <p class="font-bold my-3">No communication to third parties</p>
        <p class="text-sm mb-6">Your data is not communicated to third parties. However, you are informed that they may
            be disclosed under any law, regulation or decision of a regulatory authority
            or competent court.</p>
    </div>
    <div>
        <h2 class="text-2xl mt-8 mb-5">3- Prior information for data communication</h2>
        <p class="font-bold my-3">personal to third parties in the event of merger / absorption
        Collection of opt-in (consent) prior to the transmission of data following a merger /
            acquisition</p>
        <p>In the event that we take part in a merger, acquisition or any other form of transfer
        assets, we undertake to obtain your prior consent to the transmission of your data
            personal data and to maintain the level of confidentiality of your personal data to which you have consented.</p>
    </div>
    <div>
        <h2 class="text-2xl mt-8 mb-5">4- Data aggregation</h2>
        <p class="font-bold my-3">
            Aggregation with non-personal data
        </p>
        <p class="text-sm mb-6">
            We may publish, disclose and use Aggregated Information (information relating to all of our
            Users or to specific groups or categories of Users that we combine in such a way that a
            Individual user can no longer be identified or mentioned) and non-personal information for purposes
            sector and market analysis, demographic profiling, for promotional and advertising purposes and for
            other business purposes.
        </p>
        <p class="font-bold my-3">
            Aggregation with personal data available on the User's social accounts</p>
        <p class="text-sm mb-6">
            If you connect your account to an account of another service in order to cross-send, said service
            may provide us with your profile and connection information, as well as any other information you
            authorized the disclosure. We may aggregate information relating to all of our other Users,
            groups, accounts, personal data available on the User.
        </p>
    </div>
    <div>
        <h2 class="text-2xl mt-8 mb-5">5- Collection of identity data</h2>
        <p class="font-bold my-3">Use of a pseudonym</p>
        <p class="text-sm mb-6">Use of the Site requires registration without prior identification. It can be done without you
        communicate personal data concerning you (name, first name, address, etc.). You can use the
            username of your choice</p>
    </div>
    <div>
        <h2 class="text-2xl mt-8 mb-5">6- Collection of identification data</h2>
        <p class="font-bold my-3">Use of the user ID only for access to services</p>
        <p class="text-sm mb-6">We use your electronic identifiers only for and during the execution of the contract.</p>
    </div>
    <div>
        <h2 class="text-2xl mt-8 mb-5">7- Collection of terminal data</h2>
        <p class="font-bold my-3">Collection of profiling data and technical data for the purpose of providing the
            service</p>
        <p class="text-sm mb-6">Some of the technical data of your device is collected automatically by the Site.
        This information includes in particular your IP address, Internet service provider, configuration
        hardware, software configuration, browser type and language ... The collection of this data is
            necessary for the provision of services.</p>
        <p class="font-bold my-3">Collection of technical data for advertising, commercial and statistical purposes</p>
        <p class="text-sm mb-6">
        The technical data of your device is automatically collected and recorded by the
        Site, for advertising, commercial and statistical purposes. This information helps us
        personalize and continually improve your experience on our Site. We do not collect nor
        do not keep any personal data (name, first name, address ...) possibly attached to
            technical data. The data collected is likely to be resold to third parties.</p>
    </div>
    <div>
        <h2 class="text-2xl mt-8 mb-5">8- Cookies</h2>
        <p class="font-bold my-3">Retention period of cookies</p>
        <p class="text-sm mb-6">
            In accordance with the recommendations of the CNIL, the maximum storage period for cookies is 13 months
            at most after their first deposit in the User's terminal, as well as the duration of the validity of the
            User consent to the use of these cookies. The lifespan of cookies is not extended to
            every visit. The User's consent must therefore be renewed at the end of this period.
        </p>
        <p class="font-bold my-3">Cookies purpose</p>
        <p class="text-sm mb-6">
            Cookies can be used for statistical purposes, in particular to optimize the services provided to
            the User, from the processing of information concerning the frequency of access, the personalization of
            pages as well as the operations carried out and the information consulted.
            You are informed that the Publisher may place cookies on your terminal. The cookie records
            information relating to navigation on the service (the pages you have consulted, the date and time
            consultation ...) that we can read during your subsequent visits.
        </p>
        <p class="font-bold my-3">Right of the User to refuse cookies</p>
        <p class="text-sm mb-6">
            You acknowledge having been informed that the Publisher may use cookies. If you don't want
            that cookies are used on your terminal, most browsers allow you to disable
            cookies through the settings options.
        </p>
    </div>
    <div>
        <h2 class="text-2xl mt-8 mb-5">9 - Storage of technical data</h2>
        <p class="font-bold my-3">Retention period of technical data</p>
        <p class="text-sm mb-6">
            Technical data is kept for the time strictly necessary to achieve the purposes
            referred to above.
        </p>
    </div>
    <div>
        <h2 class="text-2xl mt-8 mb-5">10- Retention period for personal data and
        anonymization</h2>
        <p class="font-bold my-3">Data retention for the duration of the contractual relationship</p>
        <p class="text-sm mb-6">
            In accordance with article 6-5 ° of law n ° 78-17 of January 6, 1978 relating to data processing,
            files and freedoms, personal data being processed is not
            not kept beyond the time necessary to fulfill the obligations defined during the
            conclusion of the contract or the predefined duration of the contractual relationship.</p>
        <p class="font-bold my-3">Retention of anonymized data beyond the contractual relationship / after
            account deletion</p>
        <p class="text-sm mb-6">
            We keep personal data for the period strictly necessary for the realization
            for the purposes described in these Privacy Policies. Beyond this period, they
            will be anonymized and kept for exclusively statistical purposes and will not give rise to
            no exploitation of any kind.
        </p>
        <p class="font-bold my-3">Data deletion after deletion of the account</p>
        <p>
            Data purge means are put in place in order to provide for their effective deletion as soon as the
            period of conservation or archiving necessary for the fulfillment of the purposes determined or imposed is
            reached. In accordance with the law n ° 78-17 of January 6, 1978 relating to data processing, files and freedoms,
            you also have a right to delete your data which you can exercise at any time by
            contacting the Publisher.
        </p>
        <p class="font-bold my-3">Data deletion after 3 years of inactivity</p>
        <p class="text-sm mb-6">
            For security reasons, if you have not authenticated on the Site for a period of three years,
            you will receive an e-mail inviting you to connect as soon as possible, otherwise your data will be
            deleted from our databases.
        </p>
    </div>
    <div>
        <h2 class="text-2xl mt-8 mb-5">11- Deletion of the account</h2>
        <p class="font-bold my-3">Account deletion on demand</p>
        <p class="text-sm mb-6">
            The User has the possibility to delete his Account at any time, by simple request to the Editor OR by the
            Account deletion menu present in the Account settings if applicable.
        </p>
        <p class="font-bold my-3">Deletion of the account in case of violation of the Privacy Policy</p>
        <p class="text-sm mb-6">
            In the event of a violation of one or more provisions of the Privacy Policy or any other
            document incorporated herein by reference, the Publisher reserves the right to terminate or restrict without
            no prior warning and at its sole discretion, your use and access to the services, your account and
            all Sites.
        </p>
    </div>
    <div>
        <h2 class="text-2xl mt-8 mb-5">12- Indications in the event of a security breach detected by
        the editor</h2>
        <p class="font-bold my-3">User information in the event of a security breach</p>
        <p class="text-sm mb-6">We undertake to implement all the appropriate technical and organizational measures in order to
        to guarantee an appropriate level of security with regard to the risks of accidental, unauthorized or illegal access,
        disclosure, alteration, loss or destruction of your personal data. In
        the event that we become aware of illegal access to your personal data
        stored on our servers or those of our service providers, or unauthorized access resulting in the
            realization of the risks identified above, we undertake to:</p>
        <ul class="text-sm mb-6">
            <li>Notify you of the incident as soon as possible;</li>
            <li>Examine the causes of the incident and inform you thereof;</li>
            <li>Take the necessary measures within the limits of reasonableness in order to reduce the negative effects and prejudices
            that may result from said incident.</li>
        </ul>
        <p class="font-bold my-3">Limitation of Liability</p>
        <p class="text-sm mb-6">
            Under no circumstances will the commitments defined in the above point relating to the notification in the event of a security breach
            can be assimilated to any acknowledgment of fault or responsibility for the occurrence of
            the incident in question.
        </p>
    </div>
    <div>
        <h2 class="text-2xl mt-8 mb-5">13- Transfer of personal data abroad</h2>
        <p class="font-bold my-3">No transfer outside the European Union</p>
        <p class="text-sm mb-6">
        The Publisher undertakes not to transfer the personal data of its Users outside the Union
        European.
        </p>
    </div>
    <div>
        <h2 class="text-2xl mt-8 mb-5">14- Modification of the privacy policy</h2>
        <p class="font-bold my-3">In case of modification of this Privacy Policy, commitment not to lower the
        substantial level of confidentiality without prior information to individuals
            concerned</p>
        <p class="text-sm mb-6">
            We undertake to inform you in the event of a substantial modification of this Policy.
            Confidentiality, and not to lower the level of confidentiality of your data in a substantial way without
            inform you and obtain your consent.
        </p>
    </div>
    <div>
        <h2 class="text-2xl mt-8 mb-5">15- Applicable law and methods of appeal</h2>
        <p class="font-bold my-3">Arbitration clause</p>
        You expressly agree that any dispute that may arise as a result of this Privacy Policy
        Confidentiality, in particular of its interpretation or its execution, will be the subject of an arbitration procedure.
        subject to the rules of the arbitration platform chosen by mutual agreement, to which you will adhere without
        Reserve.
    </div>
    <div>
        <h2 class="text-2xl mt-8 mb-5">16- Data portability</h2>
        <p class="font-bold my-3">Data portability</p>
        <p class="text-sm mb-6">
            The Publisher undertakes to offer you the possibility of having all the data returned to you.
            concerning on request. The User is thus guaranteed a better control of his
            data, and retains the possibility of reusing it. These data should be provided in a format
            open and easily reusable.
        </p>
    </div>
</div>
{% endblock %}
