{%  extends 'base.html.twig' %}

{% block title 'Categories' %}

{% block prebody %}
    {{ include ('parts/_prebody.html.twig') }}
{% endblock %}

{%  block body %}
    <div class="container mx-auto">
        <h1 class="text-2xl text-center my-3">Category : {{ category.name }} <small> ({{ category.articles|length }})</small></h1>
    </div>
    {#    {% dump($categories) %}#}
    <div class="container mx-auto grid grid-cols-1">


                                {% for article in category.articles|reverse %}
                                    {{ include ('parts/_articlescard.html.twig') }}
                                {%  endfor %}

    </div>
{%  endblock %}