{% extends 'baseprofile.html.twig' %}

{#{% block title %}#}

{% block stylesheets %}

    <link href="/assets/css/select2.min.css" rel="stylesheet" />
    {{ encore_entry_link_tags('app') }}
{% endblock %}


{% block profilemainsection %}

    <div class="container mx-auto">
        <h2 class="text-3xl my-4">New Article</h2>
        {{ include ('profile/articles/_form.html.twig', {form: form, button: 'Create'}) }}

    </div>

{% endblock %}


{% block javascripts %}
    {{ include('profile/parts/_select2cat-key.html.twig') }}
{% endblock %}