<footer class='bg-gray-800 w-full text-center text-gray-400 p-4'>
    Made with 😃 by Cedric AUDRIT - <button type="button" id="tarteaucitronManager">Cookies
{#        <img src="/tarteaucitron/cookies.svg" alt="Cookies" width="32px" height="32px">#}
    </button> - <a href="/files/Politique-de-confidentialite.pdf">Privacy Policy</a>
    <input type="hidden" class="text-green-900 bg-blue-500 hover:bg-blue-700 text-white font-bold focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md form-checkbox h-5 w-5 text-blue-600 space-x-6 ml-4 first previous page current next last">
    <input type="hidden" class="flex items-baseline flex-row border border-gray-400 rounded-sm w-auto
bg-white text-blue-600 px-3 py-2 text-lg border-r border-gray-400 font-bold
bg-blue-600 text-white px-3 py-2 text-lg font-bold
bg-white text-blue-600 px-3 py-2 text-lg border-gray-400 font-bold">
</footer>